.footer {
  padding: 45px 20px 30px;

  text-align: center;

  background: #111827;
  color: white;

  border-top: 1px solid #1f2937;
}

.footer h2 {
  margin-bottom: 12px;

  font-size: 22px;
  font-weight: 800;
}

.footer p {
  margin: 0;

  font-size: 13px;
  color: #9ca3af;
}
